@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  background-color: #fefaf6;
}

::-moz-selection {
  background: #f3e5d0;
}

::selection {
  background: #f3e5d0;
}
